version: '3.8'
services:
  kafka:
    image: wurstmeister/kafka:latest
    ports:
      - "9092:9092"
    expose:
      - "9093"
    environment:
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:9092,OUTSIDE://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_LISTENERS: INSIDE://127.0.0.1:9092,OUTSIDE://127.0.0.1:9092

  zookeeper:
    image: wurstmeister/zookeeper:latest
    ports:
      - "2181:2181"

  user-service:
    build:
      context: ./user-service
      dockerfile: Dockerfile
    depends_on:
      - kafka


  notification-service:
    build:
      context: ./notification-service
      dockerfile: Dockerfile
    depends_on:
      - kafka