services:
  kafka:
    image: wurstmeister/kafka:latest
    ports:
      - "9092:9092"
    expose:
      - "9093"
    environment:
      KAFKA_ADVERTISED_LISTENERS: INSIDE://kafka:9092,OUTSIDE://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
      KAFKA_LISTENERS: INSIDE://127.0.0.1:9092,OUTSIDE://127.0.0.1:9092

  zookeeper:
    image: wurstmeister/zookeeper:latest
    ports:
      - "2181:2181"
      -
  db:
    image: postgres:latest
    environment:
      POSTGRES_DB: User-notification
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password